@{
    ViewData["Title"] = "Home Page";
    Int32 a = 0;
}
@using Business_Logic
@using Core.DTOs.Article
@model Business_Logic.Models.TegHelperModels.ObjectListModel


<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - IdentityAut</title>
    <link href="@Url.Content("~/css/ScrollLent.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet" type="text/css" />
</head>
<script>
    const imgElement;
    let base64String;
</script>
<div id="grid">
    @foreach (ArticleDTO x in Model.ArticlePreviews)
    {
        <div style="padding: 0px;
        border-radius: 10px;
        border-width: 3px;
        border-style: solid;
        font-size: 1.5rem;
        position: relative">
            @if (x.ArticlePicture != null)
            {
                <div class="Icontainer">
                    <img class="Articleimg" id="image-@x.Id" src="">
                </div>
                <script>
                imgElement = document.getElementById("image-@x.Id");
                base64String = @Html.Raw(Json.Serialize(x.ArticlePicture));
                imgElement.src = "data:image/jpeg;base64," + base64String;
            </script>
            }
            <div style="width: 100%; padding-top: 0; padding-bottom: 0; padding-right: 5px; padding-left: 10px; text-align: left; height: 15rem;">
                <div style="display: flex;padding-bottom: 0px;padding: 0px;">
                    <p style="text-align: left;font-size: 1rem;padding-right: 10px">@x.Source</p>
                    <p style="text-align: left; font-size: 1rem;padding-right: 10px">@(x.DateTime.ToLongDateString())</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                        <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg>
                    <p style="text-align: left; font-size: 1rem;">@x.PositiveRate</p>
                </div>
                <h5 style="padding-right:0">@x.Title</h5>
            </div>
            
            <div style="position: absolute; bottom: 0;">
                <a href="#" class="btn-number btn-Pages">Читать</a>
                <a href="@x.URL" class="btn-number btn-Pages">В источник -></a>
                
            </div>
        </div>

    }
</div>
<pagination page-info="Model.PageInfo" page-action="Start"></pagination>

