@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Core.DTOs.Article.FullArticleDto

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - IdentityAut</title>
    <link href="@Url.Content("~/css/full-article.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div style="padding: 0">

    <div style="padding: 0; font-size: 20px;">

        <p class="fs-1 fw-bolder" style="line-height: 1; padding: 0">@Html.Raw(Model.Title)</p>

        <div style="padding: 10px; display: flex">
            
            <p class="fw-light fs-5">@Html.Raw(Model.SourceName)</p>
            
            <p class="fw-light fs-5" style="padding-left: 50px">@Html.Raw(Model.DateTime.ToLongDateString())</p>
        </div>

        <div style="padding: 0px;">
            <p class="fs-5 fst-normal">@Html.Raw(@Model.FullText)</p>
        </div>
        

        <div class="custom-btn">
            <button class="custom-button-2 custom-button-3" articleId="@Model.Id" id="GetComments">Комментарии</button>
        </div>


        <div class="collapse" id="Comments" aria-expanded="false">
            
            <div style="width: 40%">
                <textarea class="form-control" style="" id="commentArea" rows="3"></textarea>
                <button class="custom-button-2 custom-button-3"  id="PostComment">Отправить</button>
            </div>

            <div id="CommentsInner">
            </div>
        </div>


    </div>
</div>

@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/Comments.js"></script>
}